HOST=0.0.0.0
PORT=1337
APP_KEYS=changeMe1,changeMe2,changeMe3,changeMe4
API_TOKEN_SALT=changeMe
ADMIN_JWT_SECRET=changeMe
TRANSFER_TOKEN_SALT=changeMe
JWT_SECRET=changeMe
ENCRYPTION_KEY=changeMe
DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
